<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/data-extractor.log"
                     filePattern="logs/data-extractor-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="MissingStopsLog" fileName="logs/missing-stops.log"
                     filePattern="logs/missing-stops-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="ro.gov.ithub.infotranspub.extraction" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="ro.gov.ithub.infotranspub.extraction.gps" level="error" additivity="false">
            <AppenderRef ref="MissingStopsLog"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>